<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href= "styles.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/rationale/">Rationale</a></li>
      <li><a href="/contraception/">Contraception</a></li>
      <li><a href="/sexualhealth/">Sexual Health</a></li>
      <li><a href="/consentandsexualabuse/">Consent and Sexual Abuse</a></li>
      <li><a href="/whispers/">Whispers</a></li>
    </ul>
  </nav>
     <h1 class="bw">Whisper</h1>
</header>


<div class = "pw">
    <p>This page basically offers an answer to the question: "Why is Sex Education important?"
    The statistics on the state of sexual health globally are deeply concerning.
    The statistics on contraception fall in the same basket.
    In fact, no sexual health metric has demonstrated anything to trigger applause.
    Consequently, it is imperative that we all take it upon ourselves to build adequate knowledge on sexual health, whether we are sexually active, or not.</p>

    <p>This website aims to fill this gap. Here, you will find accurate information on sexual health, contraception and everything under the umbrella of Sex Education.
        Better still, in case of any questions, there is a submission box <a class = "a" href="whispers.html">here</a> that will get you an response back in 7 days.</p>

</div>

</body>
</html>